engine-strict=true
resolution-mode=highest
@luk82:registry=https://npm.pkg.github.com
# GITHUB_PAT_TOKEN only works for local development
# Create .npmrc file dynamically in CI/CD pipeline instead
# github secrets are not available in workflow files
//npm.pkg.github.com/:_authToken=${GITHUB_PAT_TOKEN}